body {
  font-family: Arial;
  margin: 0;
  padding: 15px;
}
.center {
  text-align: center;
}
input, button {
  padding: 10px;
  margin: 5px;
  width: 90%;
}
.moods button {
  width: 45%;
  margin: 5px;
}
.chat-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.header {
  background: #075E54;
  color: white;
  padding: 10px;
}
.messages {
  flex: 1;
  overflow-y: auto;
  padding: 10px;
}
.msg {
  margin: 5px;
  padding: 8px;
  border-radius: 6px;
  max-width: 70%;
}
.me {
  background: #dcf8c6;
  align-self: flex-end;
}
.other {
  background: #fff;
}
.input-bar {
  display: flex;
}
