* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto;
  background: #ece5dd;
}

button, input {
  font-size: 16px;
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

input {
  width: 90%;
  padding: 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
}

button {
  width: 90%;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: #25d366;
  color: white;
  font-weight: bold;
}

.moods {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  padding: 20px;
}

.moods button {
  background: #fff;
  color: #111;
  border-radius: 14px;
}

.chat-body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: #ece5dd;
}

.header {
  background: #075e54;
  color: #fff;
  padding: 14px;
  font-weight: bold;
}

.messages {
  flex: 1;
  padding: 10px;
  overflow-y: auto;
}

.msg {
  max-width: 75%;
  padding: 10px 12px;
  border-radius: 12px;
  margin-bottom: 6px;
  font-size: 15px;
}

.me {
  background: #dcf8c6;
  margin-left: auto;
}

.other {
  background: #fff;
}

.input-bar {
  display: flex;
  padding: 8px;
  background: #f0f0f0;
}

.input-bar input {
  flex: 1;
  border-radius: 20px;
  padding: 12px;
  margin-right: 6px;
}

.input-bar button {
  width: auto;
  padding: 0 18px;
  border-radius: 50%;
}
